.main {
  font-family: 'Inter', sans-serif;
  background: #FDD456;

  &__header {
    padding: 25px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;

    &-img {
      width: 100%;
      height: 25vh;
      background-color: #EFF2F6;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      background: #EFF2F6;
      border: 5px solid #F4E8AB;
    }

    &-content {
      display: flex;
      flex-direction: column;

      .title {
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0.5px;
        color: #343434;
        margin-bottom: 0;
      }

      .subtitle {
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.5px;
        font-family: 'Inter', sans-serif;
        color: #343434;
        margin: 10px 0 0 0;
        width: 90%;
      }
    }
  }

  &__content {
    padding: 0 25px;
  }
}

.date-selector {
  padding: 0 20px;
  margin-bottom: 20px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  &__container {
    display: flex;
    gap: 6px;
    padding: 0px 0px 0px 0px;
    min-width: min-content;
  }
}

.date-card {
  background-color: #1F3667;
  width: 32vw;
  height: 9vh;
  padding: 16px 25px 12px;
  border-radius: 15px;
  text-align: center;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  flex: 1;
  min-width: 120px;
  color: #F1F1F1;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &--active {
    background-color: #EE4623;
    color: #F1F1F1;
  }

  &__day {
    font-size: 12px;
    margin-bottom: 1px;
    font-weight: 500;
  }

  &__date {
    font-weight: 400;
    font-size: 28px;
    font-family: 'lalezar', sans-serif;
  }
}


.filter-section {
  padding: 0px 20px 10px 20px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 50px;
}

// Filter dropdown styling to match MusicPage.vue
.filter-dropdown {
  width: 100%;
  position: relative;
  display: flex;
  flex-basis: 100%;

  .filter-btn {
    background-color: #1F3667;
    border: none;
    padding: 15px 20px;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 700;
    width: 100%;
    color: #F1F1F1;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.3s ease;

    &.filter-btn--active {
      span {
        transform: rotate(180deg);
        transition: transform 0.3s ease;
      }
    }

    span {
      transform: rotate(0deg);
      transition: transform 0.3s ease;
      color: #F4E8AB;
    }
  }

  .dropdown-content {
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    background-color: #F4E8AB;
    border-radius: 12px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.4);
    z-index: 10;
    max-height: 30vh;
    overflow-y: auto;
    padding: 10px;

    div {
      padding: 10px;
      cursor: pointer;

      &:hover {
        background-color: #f3e59c;
      }
    }
  }
}

.wrapper {
  background-color: #098944;
  padding-top: 20px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  margin-top: -40px; // This creates the overlap
  position: relative; // Ensures it stays above the content below
  z-index: 1; // Ensures the wrapper stays on top
}

.favorites-link {
  display: flex;
  justify-content: center;
  padding: 0 25px;
  margin-bottom: 5px;
  position: sticky;
  top: 10px;

  a {
    color: #F4E8AB;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    transition: color 0.3s ease;
    padding: 5px 10px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    background-color: #09894588;
    // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);


    &:hover {
      color: #F4E8AB;
    }
  }
}

.schedule-content {
  padding: 5px 25px 0px 25px;
}

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  min-height: 200px;

  p {
    margin-top: 10px;
  }
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #1E5EAE;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

// hide the scrollbar
.date-selector::-webkit-scrollbar {
  display: none;
}
