ion-content {
  --background: white;
  --color: black;
}

@font-face {
  font-family: 'lalezar';
  src: url('../fonts/Lalezar-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: 'lalezar', sans-serif;
  font-size: 36px;
}

h2 {
  font-family: 'lalezar', sans-serif;
  font-size: 32px;
}

h3 {
  font-family: 'lalezar', sans-serif;
  font-size: 28px;
}

h4 {
  font-family: 'lalezar', sans-serif;
  font-size: 24px;
}

h5 {
  font-family: 'lalezar', sans-serif;
  font-size: 22px;
}

p {
  font-family: 'inter', sans-serif;
}

@font-face {
  font-family: 'jockey';
  src: url('../fonts/JockeyOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'inter';
  src: url('../fonts/Inter-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pt-sans-reg';
  src: url('../fonts/PTSansNarrow-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pt-sans-bold';
  src: url('../fonts/PTSansNarrow-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

.btn {
  background-color: #098944;
  border: 2px solid #098944;
  color: #FFF1AF;
  text-transform: uppercase;
  padding: 18px 50px;
  border-radius: 50px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: fit-content;
  font-size: 20px;
  line-height: 24px;

  &:hover {
    background: #098944;
    color: #FFF1AF;
  }

  &:disabled {
    opacity: 0.6;
    cursor: default;
  }

  &--small {
    padding: 10px 20px;
    font-size: 14px;
    line-height: 16px;
  }
}
