/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

@use "sass:map";

/* Color configuration for NYS Fair and NYS Fairgrounds */

// Define color maps for both sites
$colors: (
  nysfair: (
    primary: #FDD456,
    secondary: #1F3667
  ),
  nysfairgrounds: (
    primary: red,
    secondary: #333333
  )
);

// Mixin to retrieve colors from the map
@function appColor($site, $type) {
  @if map.has-key($colors, $site) and map.has-key(map.get($colors, $site), $type) {
    @return map.get(map.get($colors, $site), $type);
  } @else {
    @error "Color `#{$type}` for site `#{$site}` not found in the color map.";
  }
}

// // Example usage
// body.nysfair {
//   background-color: #{color(nysfair, primary)};
//   color: #{color(nysfair, secondary)};
// }

// body.nysfairgrounds {
//   background-color: #{color(nysfairgrounds, primary)};
//   color: #{color(nysfairgrounds, secondary)};
// }

ion-content {
  --background: white;
  --color: black;
}

@font-face {
  font-family: 'lalezar';
  src: url('../fonts/Lalezar-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: 'lalezar', sans-serif;
  font-size: 36px;
}

h2 {
  font-family: 'lalezar', sans-serif;
  font-size: 32px;
}

h3 {
  font-family: 'lalezar', sans-serif;
  font-size: 28px;
}

h4 {
  font-family: 'lalezar', sans-serif;
  font-size: 24px;
}

h5 {
  font-family: 'lalezar', sans-serif;
  font-size: 22px;
}

p {
  font-family: 'inter', sans-serif;
}

/* fairgrounds styles for the pt-sans */
#fg-title {
  font-family: 'pt-sans-bold', sans-serif;
  font-size: 28px;
  line-height: 40px;
}

#fg-bar-title {
  font-family: 'pt-sans-bold', sans-serif;
  font-size: 22px;
  line-height: 28px;
}

#fg-h2 {
  font-family: 'pt-sans-bold', sans-serif;
  font-size: 22px;
  line-height: 40px;
}

/* Main Homepage Button Font */
@font-face {
  font-family: 'jockey';
  src: url('../fonts/JockeyOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'inter';
  src: url('../fonts/Inter-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pt-sans-reg';
  src: url('../fonts/PTSansNarrow-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pt-sans-bold';
  src: url('../fonts/PTSansNarrow-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
