/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */


/*
font-family: 'Stardom', sans-serif;
font-family: 'Pally', sans-serif;
font-family: 'General Sans', sans-serif;
*/

ion-content {
    --background: white;
    --color: black;
}

@font-face {
  font-family: 'lalezar';
  src: url('../fonts/Lalezar-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1 {
    font-family: 'lalezar', sans-serif;
}

p {
    font-family: 'inter', sans-serif;
}

h4 {
    font-family: 'lalezar', sans-serif;
    font-size: 24px;
}

/* Main Homepage Button Font */
@font-face {
  font-family: 'jockey';
  src: url('../fonts/JockeyOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'inter';
  src: url('../fonts/Inter-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
