/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */


/* 
font-family: 'Stardom', sans-serif;
font-family: 'Pally', sans-serif;
font-family: 'General Sans', sans-serif; 
*/

ion-content {
    --background: white;
    --color: black;
}